 *
{
    margin: 0;
    padding: 0;  
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(rain.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;  
   
}

.main-nav
{
    float: right;
     list-style: none;
    margin-top: 50px;
}

.main-nav li
{
    display: inline-block;

}


.main-nav li a
{
    color: black;
    text-decoration: none;
    padding:5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
   
}



.main-nav li a:hover
{
   
    border-bottom: black 1px dotted;
}

body
{
    font-family: monospace;
   width: 100%;
    height: 100%;
    min-width: 500px;
}

.row
{
    max-width: 1200px;
    margin: auto;
}


.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.heading {
    font-family: 'Circular', sans-serif;
    font-style:normal;
    font-weight: 700;
    color: #000;
    bottom: 150 px 100px;
    opacity: 1;
    transition-duration: 0.7s;
    transition-delay: 0.3s;
    font-size: 9rem;
    position:absolute;
    left:150;
    transform: translateY(36%);
    height: 950px;
}
.dot{
  font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight: 350;
    color: #000;
    bottom: 50px;
    opacity: 1;
font-size: 5rem;
    position:absolute;
     left:150;
    height: 130px;
}


.contact{
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight: 130;
    color: #000;
    bottom: 5px;
    top: 650px;
    opacity: 1;
font-size: 2rem;
    position:absolute;

    height: 20px;
}

  



p9{
     height: 2300px;
    left: 180;
    font-size: 1.5rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
}

p10{
     height: 2400px;
    left: 180;
    font-size: 1rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
}

p11{
     height: 2400px;
   left: 450;
    font-size: 1rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
}


p12{
     height: 2400px;
    right: 430;
    font-size: 1rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
}



p13{
    
 height: 2500px;
    left: 180;
    display: block;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;   
}

p13 a:link {
  color: grey;
 text-decoration:none;
}

p13 a:hover {
  color: black;
}
p13 a:active {
  color: grey;
}
p13 a:visited {
  color: grey;
}





p14{
    
 height: 2530px;
    left: 180;
    display: block;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;   
}

p14 a:link {
  color:grey;
 text-decoration:none;
}

p14 a:hover {
  color: black;
}
p14 a:active {
  color: grey;
}
p14 a:visited {
  color: grey;
}





p15{
    
 height: 2560px;
    left: 180;
    display: block;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;   
}

p15 a:link {
  color: grey;
 text-decoration:none;
}

p15 a:hover {
  color: black;
}
p15 a:active {
  color: grey;
}
p15 a:visited {
  color: grey;
}





p16{
    
 height: 2590px;
    left: 180;
    display: block;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;   
}

p16 a:link {
  color: grey;
 text-decoration:none;
}

p16 a:hover {
  color: black;
}
p16 a:active {
  color: grey;
}
p16 a:visited {
  color: grey;
}




p17{
    
 height: 2620px;
    left: 180;
    display: block;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;   
}

p17 a:link {
  color: grey;
 text-decoration:none;
}

p17 a:hover {
  color: black;
}
p17 a:active {
  color: grey;
}
p17 a:visited {
  color: grey;
}


p18{
    height: 2500px;
   left: 450;
    display: block;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
}

p18 a:link {
  color: grey;
 text-decoration:none;
}

p18 a:hover {
 border-bottom: black 1px dotted;
  color: black;
}
p18 a:active {
  color: grey;
}
p18 a:visited {
  color: grey;
}



p19{
 height: 2530px;
   left: 450;
    display: block;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
}

p19 a:link {
  color: grey;
 text-decoration:none;
}

p19 a:hover {
  border-bottom: black 1px dotted;
  color: black;
}
p19 a:active {
  color: grey;
}
p19 a:visited {
  color: grey;
}





input[type=text], input[type=username] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 26px;
  display: block;
  border: none;
  box-sizing: none;
    outline: none;
}

.container {
 position: relative;
 left: 800;
 top: 1360;
 color: gray;
  outline: none;
  float: left;
  text-decoration:underline;
  border: none;
  background-color: white;
  padding: 10px 14px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  padding: 18px;
}

p20{
  height: 2540px;
    left: 855;
    font-size: 1.5rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
}

.button {
    position: relative;
    height: auto;
    width: 25%;
 top: 1480;
    left: 555;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #555555;
  color: white;
}

p21{
     height: 2800px;
    left: 180;
    font-size: 1.5rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: black;
    
}

    
p22{
   height: 2900px;
   left: 180;
    font-size: .75rem;
    transform: translateY(56%);
    position: absolute;
    font-style: normal;
    color: dimgray;
}

#whole{
    margin-bottom: -450px;
}


.ca img{
    float: right;
    width: 20px;
    height: auto;
    position: absolute;
    right: 400px;
    bottom: 5px;
    top: 2320px;
    }
